{% extends 'core/base.html' %}

{% block content %}
<h2>Pedido #{{ pedido.id }}</h2>

<p><strong>Status:</strong> {{ pedido.get_status_display }}</p>
<p><strong>Total:</strong> R$ {{ pedido.total }}</p>
<p><strong>Data:</strong> {{ pedido.created_at }}</p>

<hr>

<h3>Itens</h3>

<table class="table">
    <tr>
        <th>Produto</th>
        <th>Qtd</th>
        <th>Preço</th>
        <th>Subtotal</th>
    </tr>

    {% for item in pedido.items.all %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>R$ {{ item.price }}</td>
        <td>R$ {{ item.subtotal }}</td>
    </tr>
    {% endfor %}
</table>

<hr>

<h3>PIX</h3>
<pre>{{ pedido.pix_code }}</pre>

{% endblock %}
