{% extends 'core/base.html' %}

{% block content %}
<h2>Meus pedidos</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Total</th>
        <th>Status</th>
        <th>Data</th>
        <th></th>
    </tr>

    {% for p in pedidos %}
    <tr>
        <td>#{{ p.id }}</td>
        <td>R$ {{ p.total }}</td>
        <td>{{ p.get_status_display }}</td>
        <td>{{ p.created_at }}</td>
        <td>
            <a href="/pedido/{{ p.id }}/" class="btn btn-primary btn-sm">Ver</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="5">Você ainda não fez nenhum pedido.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
