{% extends 'core/base.html' %}

{% block content %}
<h2>Meus Produtos</h2>

<a href="/produtos/novo/" class="btn btn-primary mb-3">Novo Produto</a>

<table class="table table-striped">
    <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Estoque</th>
        <th>Ativo</th>
        <th>Ações</th>
    </tr>

    {% for p in products %}
    <tr>
        <td>{{ p.name }}</td>
        <td>R$ {{ p.price }}</td>
        <td>{{ p.stock }}</td>
        <td>{{ p.is_active }}</td>
        <td>
            <a href="/produtos/{{ p.id }}/editar/" class="btn btn-warning btn-sm">Editar</a>
            <a href="/produtos/{{ p.id }}/excluir/" class="btn btn-danger btn-sm">Excluir</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
